*, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D4CAA3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Helvetica;
}

.container {
    background-color: white;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.judul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warn {
    margin-bottom: 0px;
    font-family: monospace;
    font-size: large;
    color: red;
    font-weight: bold;
}

.line {
    display: flex;
    height: 5px;
    background-color: black;
    width: 100%;
    margin: auto;
}

.subjudul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.subjudul2 {
    text-decoration: underline;
    margin: 5px;
}

.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: none;
}

.subjudul3 {
    font-weight: bold;
    margin: 5px;
}

.input-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.input-wrapper label {
    margin-right: 10px;
    padding: 5px;
    width: 200px;
}

.input-wrapper input {
    border: none;
    display: block;
    margin-left: 10px;
    border-bottom: 2px dotted black;
    font-size: 17px;
    width: 700px;
}

.input-wrapper input:focus{
    outline: none;
}

.form2 {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    border: none;
}

.other-form {
    display: flex;
    flex-direction: row;
}

.input-wrapper2 {
    padding: 10px;
    display: flex;
}

.input-wrapper2 label {
    margin-right: 10px;
    padding: 5px;
}

.input-wrapper2 input {
    border: none;
    display: block;
    margin-left: 10px;
    border-bottom: 2px dotted black;
    font-size: 17px;
    width: 45px;
}

.input-wrapper2 input:focus{
    outline: none;
}

.input-wrapper3 {
    padding: 10px;
    display: flex;
}

.input-wrapper3 label {
    margin-right: 10px;
    padding: 5px;
    width: 200px;
}

.input-wrapper3 input {
    border: none;
    display: block;
    margin-left: 10px;
    border-bottom: 2px dotted black;
    font-size: 17px;
    width: 460px;
}

.input-wrapper3 input:focus{
    outline: none;
}

.choice {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-list {
    padding: 10px;
}

.religion {
    margin-left: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.txt {
    margin-right: 170px;
}

.religion-label {
    margin-right: 24px;
}

.label-wrapper {
    display: flex;
    flex-direction: row;
}

.label-wrapper input {
    border: none;
    display: block;
    margin-left: 10px;
    border-bottom: 2px dotted black;
    font-size: 17px;
    width: 110px;
}

.label-wrapper input:focus{
    outline: none;
}

.submit{
    float: right;
    padding: 5px;
    margin: 50px 10px 10px 0px;
}

.sig-right {
    margin-left: 7px;
    float: left;
}